<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/9c1321c239.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-expand navbar-dark shadow-md fixed-top" style="background-color: #00AA13;">
    <div class="container-fluid">
      <a class="navbar-brand" style="margin-left: 1%; color: white;">PORTAL ADMIN</b></a>
      <a class="navbar-brand" style="margin-left: 50%; color: white;">UNIVERSITAS ANDALAS</b></a>
    </div>
  </nav>
  <nav>
    <div class="row no-gutters mt-5">
      <div class="col-md-2 mt-2 pr-3 pt-4" style="background-color: #91ca6b;">
        <ul class="nav flex-column ml-3 mb-5">
          <div class="mt-1 mb-2 d-block mx-auto">
          </div>
          <h6 class="text-center fs-6"><%= nama %></h6>
                <h6 class="text-center fs-6">NIP <%= NIP %></h6><hr>
          
          <li class="nav-item">
            <a class="nav-link active text-black" aria-current="page" href="/homeAdmin">List RPS</a>
            <hr>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" href="/persentaseRPS">Persentase RPS</a>
            <hr>
          </li> 
          <li class="nav-item">
            <a class="nav-link text-black" href="/login">Log Out</a>
            <hr>
          </li>
      </div>
      <div class="col-md-10 p-4 pt-4" style="background-color: #E9EFC0;">
          <h3>List RPS</h3>
          <div class="card shadow mb-4">
          <div class="card-body">
          <table class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th class="text-center" scope="col">No.</th>
                      <th class="text-center" scope="col">Nama Mata Kuliah</th>
                      <th class="text-center" scope="col">Kode Mata Kuliah</th>
                      <th class="text-center" scope="col">Jumlah SKS</th>
                      <th class="text-center" scope="col">Semester</th>
                      <th class="text-center" scope="col">Jumlah Revisi</th>
                      <th class="text-center" scope="col">Lihat RPS</th>
                      <th class="text-center" scope="col">Aksi</th> 
                    </tr>
                  </thead>
                  <tbody>
                    <% RPS.forEach((R, i) => { %>  <!--memanggil data  dan melakukan perulangan-->
                      <tr>
                          <th class="text-center" scope="row"><%= i+1 %></th> <!--apabila i=0 maka perhitungan dimulai dari 1-->
                          <td class="text-center"><%= R.name %></td> 
                          <td class="text-center"><%= R.code %></td> <!--mengambil data dari course plan yg value nya code-->
                          <td class="text-center"><%= R.credit %></td>
                          <td class="text-center"><%= R.semester %></td>  
                          <td class="text-center"><%= R.rev %></td><!--sks-->
                          <td class="text-center"><a href="admin_detailrpspweb.html"><i
                            class="fa-solid fa-eye p-2 text-black rounded" data-toggle="tooltip"
                            title="Open" style="width :80px; color: #00AA13;"></i></a></td>
                     
                            <td class="text-center">
                              <div class="dropdown">
                              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #00AA13; color:white">
                                Detail
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="/detailAksesDosen/<%= R.id %>/<%= R.name %>">Akses Dosen</a></li>
                                <li><a class="dropdown-item" href="/detailCPMKdanCPL/<%= R.id %>/<%= R.name %>">CPL-CPMK</a></li>
                              </ul>
                            </div>
                          </td>
                          <!-- <td class="text-center"><a href="" class="btn" style="background-color: #00AA13; color: #fff;"><i class="fa-solid fa-pen-to-square" data-toggle="tooltip" title="Edit"></i></a></td> -->
                      </tr>
                    <% i++} ) %>
                    <!-- <tr>
                      <th class="text-center" scope="row">1</th>
                      <td>Pemrograman Web</td>
                      <td class="text-center">JSI62125</td>
                      <td class="text-center">3</td>
                      <td class="text-center">0</td>
                      <td class="text-center"><a href="admin_detailrpspweb.html"><i
                            class="fa-solid fa-eye bg-warning p-2 text-black rounded" data-toggle="tooltip"
                            title="Open"></i></a></td>
                     
                      <td class="text-center">
                        <div class="dropdown">
                          <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Detail
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="/admin_hak-akses-dosen">Akses Dosen</a></li>
                            <li><a class="dropdown-item" href="/admin_cpl-cpmk">CPL-CPMK</a></li>
                            <li><a class="dropdown-item" href="/admin_persentaserps">Persentase RPS</a></li>
                          </ul>
                        </div>
                      </td>
                    </tr> -->
                  </tbody>
                </table>
                </div>
                </div>
      </div>
    </div>
  </nav>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</body>

</html>