<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/Logo_Unand.svg/1200px-Logo_Unand.svg.png">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/beranda.css">
    <link rel="stylesheet" href="css/carimatkul.css">
    <title>Beranda</title>
</head>

<body>
    <div class="logo">
        <img src="https://lp3m.unand.ac.id/webpanel/todakimage/logo.png" alt="">
    </div>
    <a href="/login" class="btn" style="margin-left: 31cm; margin-top: -100px; background-color: #00AA13; color: white;">Log In</a>
    <div class="wrapper" style="background-color: #91ca6b;">
        <h1 style="margin-top: -30px;">SELAMAT DATANG DI RPS UNIVERSITAS ANDALAS</h1>
        <h5 style="margin-top: -10px; text-align: center;">Website Akademik Sistem Informasi Universitas Andalas</h5>
    </div>
    <nav>
        <div class="card text-center col-md-10 pt-4 container-fluid">
            <h3>Rencana Pembelajaran Semester</h3>
            <hr>
            <div class="card-body">
                <form action="/cari" method="" class="d-flex" role="search">
                    <input name="cari" class="form-control me-2" type="search" placeholder="Masukkan Nama/Kode Mata Kuliah" aria-label="Search">
                    <button class="btn" type="submit" style="background-color: #00AA13; color:white ">Cari</button>
                </form>
                <br>
                <form action="/lihatMatkul" method="GET">
                <table class="table table-striped" id="listrps">
                    <thead>
                        <tr>
                            <th scope="col">NO</th>
                            <th scope="col">Kode Mata Kuliah</th>
                            <th scope="col">Nama Mata Kuliah</th>
                            <th scope="col">Jumlah SKS</th>
                            <th scope="col">Semester</th>
                            <th scope="col">Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% RPS.forEach((R, i)=> { %>
                        <tr>
                            <th scope="row"><%= i+1 %></th>
                            <td><%= R.code %></td>
                            <td><%= R.name %></td>
                            <td><%= R.credit %></td>
                            <td><%= R.semester %></td>
                            <td><a href="admin_detailrpspweb.html" class="btn btn-secondary">Lihat</a></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </form>                
            </div>
            <div class="card-footer text-muted">
            RPS Universitas Andalas
            </div>
        </div>
    </nav>
    </tbody>
    </table>
    </form>
    <br></br>
</body>

</html>