<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/Logo_Unand.svg/1200px-Logo_Unand.svg.png">
    <title>Edit Pertemuan</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/9c1321c239.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand navbar-light shadow-md fixed-top" style="background-color: #00AA13;">
        <div class="container-fluid">
          <a class="navbar-brand" style="margin-left: 1%; color: white;">PORTAL DOSEN</b></a>
          <a class="navbar-brand" style="margin-left: 50%; color: white;">UNIVERSITAS ANDALAS</b></a>
        </div>
    </nav>
    <nav>
        <div class="row no-gutters mt-5">
            <div class="col-md-2 mt-2 pr-3 pt-4" style="background-color: #91ca6b;">
                <ul class="nav flex-column ml-3 mb-5">
                    <div class="mt-1 mb-2 d-block mx-auto">
                    </div>
                    <h6 class="text-center fs-6"><%= nama %></h6>
                    <h6 class="text-center fs-6">NIP <%= NIP %></h6><hr>
                    <li class="nav-item">
                      <a class="nav-link text-black" href="/semuaMatkul">Mata Kuliah</a><hr>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" href="/login">Log Out</a><hr>
                    </li>
              </div>
            <div class="col-md-10 p-4 pt-4" style="background-color: #E9EFC0;">
                <h3>Edit Jadwal Pertemuan</h3><hr>
                <div class="container">
                    <div class="row">
                      <div class="col-2"><h6>Nama Mata Kuliah</h6></div>
                      <div class="col-3"><h6>: <%= name %></h6></div>
                    </div><br>
                </div>
                <div class="card shadow mb-4">
                    <div class="card-body">
                      <form action="/editPertemuan/<%= idEdit%>/<%= id %>/<%= name %>" method="POST">
                        <table class="table table-striped table-bordered table-hover" style="background-color: #fff;">
                            <thead>
                                <tr>
                                    <th scope="col">Minggu Pertemuan</th>
                                    <th class="text-center"><input value="<%= pertemuan.week %>" name="week" type="tambahrps" id="inputtambahrps" class="form-control"></th>
                                </tr>
                                <tr>
                                    <th scope="col">Materi</th>
                                    <th class="text-center"><input value="<%= pertemuan.material %>" name="material" type="tambahrps" id="inputtambahrps" class="form-control"></th>
                                </tr>
                                <tr>
                                    <th scope="col">Metode</th>
                                    <th class="text-center"><input value="<%= pertemuan.method %>" name="method" type="tambahrps" id="inputtambahrps" class="form-control"></th>
                                </tr>
                                <tr>
                                    <th scope="col">Pengalaman Belajar Mahasiswa</th>
                                    <th class="text-center"><textarea value="<%= pertemuan.student_experience %>" name="student_experience" type="tambahrps" id="inputtambahrps" class="form-control">Pengalaman Belajar</textarea></th>
                                </tr>
                            </thead> 
                        </table>
                          <button type="submit" class="btn mb-3" style="background-color: #00AA13; color: #fff;">Update</button>
                          <button type="" class="btn mb-3" style="background-color: #00AA13; color: #fff;">Kembali</button>
                        </form>
                    </div>
                </div><br>
            </div>
        </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>