<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <title>Referensi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/9c1321c239.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand navbar-dark shadow-md fixed-top" style="background-color: #00AA13;">
      <div class="container-fluid">
        <a class="navbar-brand" style="margin-left: 1%; color: white;">PORTAL DOSEN</b></a>
        <a class="navbar-brand" style="margin-left: 50%; color: white;">UNIVERSITAS ANDALAS</b></a>
      </div>
  </nav>

    </nav>
    <nav>
        <div class="row no-gutters mt-5">
          <div class="col-md-2 mt-2 pr-3 pt-4" style="background-color: #91ca6b;">
            <ul class="nav flex-column ml-3 mb-5">
                <h6 class="text-center fs-6"><%= nama %></h6>
                <h6 class="text-center fs-6">NIP <%= NIP %></h6><hr>
                <li class="nav-item">
                  <a class="nav-link text-black" href="/semuaMatkul">Mata Kuliah</a><hr>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="/login">Log Out</a><hr>
                </li>
        </div>

            <div class="col-md-10 p-4 pt-4" style="background-color: #E9EFC0;">
                <h3>Referensi <%= name %></h3><hr>
                <div class="card shadow mb-4">
                  <div class="card-body">                    
                    <table class="table table-striped table-bordered table-hover" style="background-color: #fff;">
                        <thead>
                            <tr>
                                <th class="text-center" scope="col">No.</th>
                                <th class="text-center" scope="col">Nama Referensi</th>
                                <th class="text-center" scope="col">Tahun</th>
                                <th class="text-center" scope="col">Hapus</th>
                                <th class="text-center" scope="col">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% ref.forEach((R, i) => { 
                                %>
                            <tr>
                                <th class="text-center" scope="row"><%= i+1 %></th>
                                <td><%= R.author %>. "<%= R.title %>". <%= R.publisher %></td>
                                <td class="text-center"><%= R.year %></td>  
                                <td class="text-center"><a href="/hapusRef/<%= R.id %>/<%= id %>/<%= name %>"  class="btn mb-3" style="background-color: #00AA13; color: #fff;"><i class="bi bi-trash-fill" data-toggle="tooltip" title="delete" ></i></a></td>
                                <td class="text-center"><a href="/editRef/<%= R.id %>/<%= id %>/<%= name %>" class="btn mb-3" style="background-color: #00AA13;"><i class="fas fa-edit text-white rounded" data-toggle="tooltip" title="Edit"></a></i></td>  
                            </tr>
                            <% } ) %>
                        </tbody>
                    </table><br>
                    <a href="/tambahRef/<%= id %>/<%= name %>" class="btn" style="margin-left: 76%; background-color: #00AA13; color: #fff;">Tambah Referensi</a>
                    <a href="/semuaMatkul" class="btn" type="button" style="background-color: #00AA13; color: #fff;">Kembali</a>
                  </div>
                </div>
            </div>
        </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>